.crimsonColor{
    color: crimson;
    font-size: 24px;
}

header nav{
    background-color: #ef492c;
}
.nav-link, .navbar-brand{
    color: white;
}
.nav-item :hover{
    background-color: chartreuse;
    color: maroon;
    border-radius: 20px;

}